body {
    font-size: 15pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto;
    background-repeat: no-repeat;
    background: linear-gradient(0.25turn, #00F2FF, #5700AF, #FF0072);
}

.title {
    font-family: Times New Roman;
    text-align: center;
}

.img-text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 6px;
    font-size: 14pt;
}

.star {
    display: inline-block;
    background-image: url("star.png");
    padding: 10px;
    border-radius: 6px;
    font-size: 14pt;
    width: 120px;
    height: 30px;
    background-size: cover; 
    float: right;
}

video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -5;
}

.img-info {
    border-radius: 8px;
}

.gradient {
    background: linear-gradient(90deg, hsla(333, 100%, 90%, 1) 0%, hsla(264, 100%, 77%, 1) 31%, hsla(220, 100%, 63%, 1) 50%, hsla(186, 86%, 73%, 1) 69%, hsla(275, 19%, 88%, 1) 100%);
    background-clip: text; /* Chỉ áp dụng gradient cho văn bản */
    color: transparent; /* Ẩn màu nền văn bản */
    overflow: hidden;
}